<h1> Edit Employee </h1>

<%= form_for(@employee) do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %> <br/>

<%= f.label :last_name %>
<%= f.text_field :last_name %> <br/>

<%= f.label :alias %>
<%= f.text_field :alias %> <br/>

<%= f.label :title %>
<%= f.text_field :title %> <br/>

<%= f.label :office %>
<%= f.text_field :office %> <br/>

<%= f.label 'Select a Dog' %>
<%= f.collection_select :dog_id, Dog.all, :id, :name %> <br/>

<%= f.submit%> <br/>

<%end%>

<% if flash[:errors] && flash[:errors].length > 0  %>
    <ul><%  flash[:errors].each do |error| %>
        <li> <%= error %></li>
        <% end %>
    </ul>
<% end  %>