<h1> <%= @employee.first_name%> <%= @employee.last_name%></h1>

Alias: <%= @employee.alias %> <br>
Title: <%= @employee.title %> <br>
Office: <%= @employee.office %> <br>
Dogs associated: <%= @employee.dog.name %> <br>

<img src=<%=@employee.img_url%>
