<h1> <%= @employee.first_name%> <%= @employee.last_name %> </h1>

Alias: <%= @employee.alias %> <br/>
Title: <%= @employee.title %> <br/>
Office: <%= @employee.office %> <br/>

<img src=<%=@employee.img_url%> > <br/>

<%= link_to "Edit this employee", edit_employee_path(@employee) %>
<%= link_to "Back to list of employees", employees_path %>

