<h1> <%= @dog.name %> </h1>

<p> <%=@dog.name%> is a <%=@dog.breed%> and is <%=@dog.age%>.</p>

<p> The employee(s) who look after this dog include: </p>

Emloyee(s) associated with this dog:
<% @dog.employees.each do |employee| %> <br>
<%= employee.first_name %>
<%end%> <br>

<br>
<%= link_to "Go back to see all the dogs", dogs_path %>
<br>

